.template-popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 22.4px;
  z-index: 2147483647;
  width: 190px;

  .items {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
  }

  .item {
    font-family: sans-serif;
    color: #202122;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover,
    &-selected {
      @extend .item;

      background-color: #f0f0f0;
    }
  }

  .search-input {
    font-family: sans-serif;
    color: black;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f7f7f8;
    border: 0;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}