.content-popup {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  // width: 450px;
  // overflow: auto;

  .header-container {
    font-family: sans-serif;
    user-select: none;
    color: #202122;
    background-color: #f7f7f8;
    display: flex;
    justify-content: space-between;

    .header {
      font-size: initial;
      padding: 10px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: move;
      width: 100%;
    }

    .btn-container {
      top: 0;
      right: 0;
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .close-btn-container,
      .pin-btn-container,
      .refresh-btn-container {
        padding: 10px;
        width: 20px;
        height: 20px;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      .pin-btn-container {
        .btn.pinned {
          transform: rotate(45deg);
        }
      }
    }
  }

  .content-container {
    // max-height: 400px;
    position: sticky;
    top: 0;
    overflow-y: auto;

    .content {
      font-size: 14px;
      line-height: 22.4px;
      font-family: sans-serif;
      color: #202122;

      .ai-message-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 8px 0;

        .content {
          padding: 14px;
          flex: 1;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          background-color: #f0f0f0;

          *:last-child, div>*:last-child {
            margin-bottom: 0;
          }

          *:first-child, div>*:first-child {
            margin-top: 0;
          }
        }

        .copy-btn {
          padding: 10px;
          visibility: hidden;
          cursor: pointer;
          position: sticky;
          top: 0;
        }
      }

      .ai-message-container:hover .copy-btn {
        visibility: visible;
      }

      .user-message-container {
        display: flex;
        flex-direction: row-reverse;
        /* Reverse the order of the elements */
        justify-content: space-between;
        align-items: flex-start;
        margin: 8px 0;

        .content {
          padding: 14px;
          flex: 1;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

          div>*:last-child {
            margin-bottom: 0;
          }

          div>*:first-child {
            margin-top: 0;
          }
        }

        .copy-btn {
          padding: 10px;
          visibility: hidden;
          cursor: pointer;
          position: sticky;
          top: 0;
        }
      }

      code {
        white-space: pre-wrap;
      }
    }

    .user-message-container:hover .copy-btn {
      visibility: visible;
    }
  }

  .message-input-container {
    display: flex;
    align-items: center;

    .message-input {
      width: 100%;
      box-sizing: border-box;
      height: 40px;
      font-family: sans-serif;
      color: #202122;
      background-color: #f7f7f8;
      padding: 10px;
      border: 0;
      flex: 1;

      &:focus {
        outline-width: 0;
      }
    }

    .btn-container.send,
    .btn-container.loading {
      padding: 10px;
      width: 20px;
      height: 20px;
      background-color: #f7f7f8;
    }

    .btn-container.send {
      cursor: pointer;
    }

    .btn-container.loading {
      .btn {
        animation: slide 2s infinite;
      }

      @keyframes slide {
        0% {
          clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
        }

        50% {
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        100% {
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        }
      }
    }

    .btn-container.send:hover {
      background-color: #f0f0f0;
    }
  }

  .btn {
    width: 20px;
    height: 20px;
  }
}